/* html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
} */

:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;
    --primari-bg-color: #F5F5F5;
    --secondary-color: #FFFFFF;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Resset */

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Шапка */

.header {
    background-color:var(--secondary-color);
    border:1px solid var(--secondary-color);
    border-bottom:1px solid #ECECEC;
}

/* Logo */

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo .studio {
    color: #000;
}
.logo .logo-studio {
    color: var(--secondary-color);
}

/*nav*/
.nav-site {
    display:flex;
}

.nav-site .nav-list:not(:last-child) {
    margin-right: 50px;
}

.nav-site .nav-list:first-child {
    margin-left: 93px;
}
.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.contacts .contact-list:not(:last-child) {
    margin-right: 50px;
}

.nav-list>.link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

    transition: color 250ms var(--transition-timing-function);
}

.nav-list>a.current {
    color: var(--accent-color);
}

.current::after {
    content:"";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4px;
    width: 100%; 

    background-color: var(--accent-color);
    border-radius: 2px;
} 

.nav-site .link:hover,
.nav-site .link:focus {
    color: var(--accent-color);
}

.contacts .link {
    display: flex;
    align-items: center;
    color: #757575;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms var(--transition-timing-function);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

.header-flex .nav {
    display: flex;
    align-items: center;
}

.contact-list .icon-contacts{
    margin-right: 10px;
    fill: currentColor;
}

.header .header-flex {
    display: flex;
    align-items: center;
}

/* hero */
.hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    
    text-align: center;

    max-width: 1600px;
    background-color: #C4C4C4;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/img-hero.jpg);
    background-position: center;
}


.hero>.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    color: var(--secondary-color);

    width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.hero .hero-button {

    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border-style: none;

    color: var(--secondary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.hero .hero-button:hover
.hero .hero-button:focus {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* .feature */

.feature {
    display: flex;
    gap: 30px
}

.icon-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.feature .paragraf-feature,
.team .team-work {
    color: #757575;
}

.feature .title-feature {
    margin-top: 0;
    margin-bottom: 10px;
    width: 270px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.feature .paragraf-feature {
    margin: 0;
    width: 270px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* what we doing */
.work {
    padding-bottom: 94px;
}

.work .title-work{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-list {
    display: flex;
}

.work-list .work-element {
    position: relative;
}

.work-list>.work-element:not(:last-child) {
    margin-right: 30px;
}

.work-element .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}

.work-element .title-content {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03%;
    color: #FFFFFF;
}

/* Team */

.team {
    background-color: #F5F4FA;

    text-align: center;
}

.team .title-team {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.team .team-name,
.team .team-work {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
}

.team .team-name {
    margin-bottom: 10px;
    font-weight: 500;
}

.team .team-work {
    font-weight: 400;
    margin-bottom: 16px;
}

.team .team-list {
    display: flex;
    justify-content: space-between;
}

.border-team {
    max-width: 270px;

    background-color: var(--secondary-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.border-team .team-border {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list>.border-team:not(:last-child) {
    margin-right: 30px;
}

.team-border .icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 0;
}

.icon-list .icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
    width: 44px;
    height: 44px;
    fill: #AFB1B8;
    transition: fill 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}

.icon-list .icon-link:hover,
.icon-list .icon-link:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

/* Наші клієнти! */

.tittle-client {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: center;
}

.client .list-client {
    display: flex;
    gap: 30px;
}

.flex-list .icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-list .icon-link:hover,
.flex-list .icon-link:focus {
    border: 1px solid var(--accent-color);
}

.flex-list .icon-group {
    fill: #AFB1B8;
    transition: fill 250ms var(--transition-timing-function);
}

.icon-link:hover .icon-group,
.icon-link:focus .icon-group {
    fill: var(--accent-color);
} 

/* portfolio */

.portfolio-nav .navi-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.navi-list>.filter-button+ .filter-button {
    margin-left: 8px;
}

.portfolio-nav .button-nav {
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    border-style:none;
    min-width: 73px;
    border-radius: 4px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function);
}

.button-nav:first-child {
    padding: 6px 25px;
}

.button-nav:not(:first-child) {
    padding: 6px 22px;
}

.portfolio-nav .button-nav:hover,
.portfolio-nav .button-nav:focus {
    color: var(--secondary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* example portfolio*/
.portfolio {
    background-color: #fff;
}

.portfolio-nav .portfolio-example {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-example .portfolio-box {
    flex-basis: calc((100%- 60px)/3);

    max-width: 370px;
    background-color: #FFFFFF;
}

.portfolio-example .portfolio-box:hover,
.portfolio-example .portfolio-box:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.portfolio-box .overlay-box {
    position: relative;
    overflow: hidden;
}

.overlay-box .overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 300ms var(-o-tra);
    
}

.overlay .text-overlay {
    margin: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03rem;
    color: #FFFFFF;
}

.portfolio-box:hover .overlay{
    transform: translateY(0);
}

.portfolio-box .portfolio-border {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio-example h3 {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-example p {
    color: #757575;
    font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
}

/* футер */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}

.address {
    margin-top: 20px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
}

.address .link {
    display: block;
    color:  rgba(255, 255, 255, 0.6);

    font-style: normal;
    margin-bottom: 9px;
}

.address .link-address {
    margin-bottom: 0;
}

.address .map {
    color: var(--secondary-color);
    font-style: normal;
}

.footer .box {
    display: flex;
    align-items: baseline;
    gap: 70px;
}

.box .last-box {
    margin-left: auto;
}

.footer .tittle-social {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.social .social-list {
    display: flex;
    gap: 10px;
}

.social-list .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms var(--transition-timing-function);
}

.social-list .social-link:hover,
.social-list .social-link:focus {
    background-color: var(--accent-color);
}

.social-items .icon-social {
    fill: #FFFFFF;
}

.box-flex .align-box {
    display: flex;
    align-items: center;
}

.box-flex .email-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
}

.box-flex .email-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
font-weight: 400; 
font-size: 16px;
line-height: 1.25;
}
.box-flex .email-input:focus {
    color: #FFFFFF;
}

.box-flex .button-sing {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    padding: 0;
    background-color: #2196F3;
    border-style: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06;
    color: #FFFFFF;
}

.align-box .icon-telegram {
    margin-left: 10px;
    fill: #FFFFFF;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events:none;
    visibility: hidden;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
    text-align: center;
    
    min-width: 528px;
    min-height: 581px;
    padding: 40px;

    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.5) rotateZ(360deg);
}

.modal .close-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    background-color: var(--secondary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.close-button .icon-close {
    fill: #000000;
    transition: fill 250ms var(--transition-timing-function);
}

.close-button:hover .icon-close,
.close-button:focus .icon-close {
    fill: var(--accent-color);
}

.modal .modal-title {
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 12px;
}

.modal .inputs {
    margin-bottom: 20px;
}

.inputs .input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input .title-input {
    text-align: start;
    margin-bottom: 4px;

    color: #757575;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}

.input .border-icon {
    position: relative;
}

.input .border-input {
    height: 40px;
    width: 100%;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--transition-timing-function);
}

.border-icon>.icon-input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill 250ms var(--transition-timing-function);
}

.input .textarea {
    resize:none;
    height: 120px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
}

.input .textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
}

.input .border-input:focus {
    border-color:var(--accent-color);
    outline: none;
}

.border-input:focus+.icon-input {
    fill: var(--accent-color);
}

.modal .input-checkbox {
    margin-bottom: 30px;
}

.input-checkbox .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox .condition-icon {
    appearance: none;
}

.checkbox .border-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
    border: 3px solid #000;
    border-radius: 4px;
}

.condition-icon:checked ~.border-checkbox {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
    background-color: var(--accent-color);
    background-size: contain;
    background-position: 50% 50%;
    background-origin: border-box;
    border: none;
}

.input-checkbox .condition-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color:#757575;
}

.input-checkbox .condition-link {
    color: var(--accent-color);
}

.modal .modal-button {
    width: 200px;
    height: 50px;
    padding: 10px 52px;

    border-style: none;
    border-radius: 4px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06;
    color: #FFFFFF;
    transition: background-color 250ms var(--transition-timing-function);
}

.modal .modal-button:hover,
.modal .modal-button:focus {
    background-color: #188CE8;
}
